<h1>Contact</h1>
<div class="row stylish-panel">
  <% @admins.each do |admin| %>
    <div class="col-md-4">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <%= gravatar_for_profile_card(admin,200) %>
          <h2><%= admin.name %></h2>
          <h2>Webdesigner</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p>
</p>
