<li class="col-md-3 stylish-panel list-unstyled" >
  <%= gravatar_for_profile_card user,150 %>
  <h3 class="usercard"><%= link_to user.name, user%></h3>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to  user, method: :delete, data: { confirm: "You sure?" } do%>
      <span><i class="glyphicon glyphicon-trash"></i></span>
    <% end %>
  <% end %>
</li>
