.bg {
  background: url('/assets/bg_blueplane.jpg') no-repeat 68% 13%;
  background-size: 100%;
  position: fixed !important;
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;

  z-index: -1;
}

.jumbotron {
  height: 676px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

